<launch>
    <!-- 主owlファイルにimportされているowlファイルの情報 -->
    <!-- 総数3個 -->
    <param name="/ontoros/imported_owl_num" type="int" value="3"/>
    <!-- TTIMapOnto.owl -->
    <param name="/ontoros/imported_owl_uri/1" type="str" value="http://www.toyota-ti.ac.jp/Lab/Denshi/COIN/Ontology/TTICore-0.03/TTIMapOnto"/>
    <param name="/ontoros/imported_owl_path/1" type="str" value="/home/nedo_prius/user/YutaroIshida14/owl/nedo_owl_i1/TTIMapOnto.owl"/>
    <!-- TTIControlOnto.owl -->
    <param name="/ontoros/imported_owl_uri/2" type="str" value="http://www.toyota-ti.ac.jp/Lab/Denshi/COIN/Ontology/TTICore-0.03/TTIControlOnto"/>
    <param name="/ontoros/imported_owl_path/2" type="str" value="/home/nedo_prius/user/YutaroIshida14/owl/nedo_owl_i1/TTIControlOnto.owl"/>
    <!-- TTICarOnto.owl -->
    <param name="/ontoros/imported_owl_uri/3" type="str" value="http://www.toyota-ti.ac.jp/Lab/Denshi/COIN/Ontology/TTICore-0.03/TTICarOnto"/>
    <param name="/ontoros/imported_owl_path/3" type="str" value="/home/nedo_prius/user/YutaroIshida14/owl/nedo_owl_i1/TTICarOnto.owl"/>

    <!-- 主owlファイル -->
    <param name="/ontoros/owl_path" type="str" value="/home/nedo_prius/user/YutaroIshida14/owl/nedo_owl_i1/nedo_hibikino_i3.owl"/>
</launch>
